[submodule "includes/wordpress-custom-post-types"]
	path = includes/wordpress-custom-post-types
	url = git://github.com/beaucharman/wordpress-custom-post-types
[submodule "includes/wordpress-custom-taxonomies"]
	path = includes/wordpress-custom-taxonomies
	url = git://github.com/beaucharman/wordpress-custom-taxonomies
[submodule "includes/cmb"]
	path = includes/cmb
	url = git://github.com/webdevstudios/custom-metaboxes-and-fields-for-wordpress
[submodule "includes/tgm-plugin-activation"]
	path = includes/tgm-plugin-activation
	url = https://github.com/thomasgriffin/TGM-Plugin-Activation.git
